// COLORS -------------------------------------
// --------------------------------------------


$white: #ffffff;

$gray-blue-active: #39454E;

$dark-blue-inactive: #1F2B34;

// BORDER -------------------------------------
// --------------------------------------------

$gray-border: 1px solid #787878;