<div class="test-site-container">
  <header class="test-site-header">
    <div class="logo">
<!--       <div class="id-box">
        <h1>id</h1>
      </div>
      <h2>RAMP</h2> -->
    </div>
    <div class="header-text-box futura-oblique">
      INTEGRATE</br>YOUR CLOUD
    </div>
  </header>
  <div class="test-site-section-one test-site-sub-hero-text">
    <div class="left-sub-hero">
      <div class="sub-header futura-oblique">
        OUR</br>PURPOSE
      </div>
      <div class="sub-header-underline"></div>

    </div>
    <div class="right-sub-hero">
      <div class="test-section-text">
        IdRamp is an innovative and secure cloud integration solution.  We save our clients millions of dollars each year by providing real time powerful analytics to proactively manage licensing and service trends. We help you use the cloud on your terms with selective entitlements and unparalleled information privacy controls. With our turn key bridges to your most popular services IdRamp streamlines deployment and puts you in the drivers seat.
      </div>
    </div>
  </div>
  <div class="test-site-analytics-img-section-three">
    <div class="section-40 float-left">
        <h2 class="futura-oblique">POWERFUL</br>ANALYTICS</h2>
        <div class="line-circle-seperator-container text-right">
          <div class="circle-icon inline-block"></div><div class="blue-line inline-block">
          </div>
        </div>
        <div class="test-img-section-text">
          It’s important to your bottom 
          line to know when usage is growing or shrinking  or if you’re 
          overpaying for cloud services. IdRamp puts the power of 
          clean, useful and easy analytics in your hands to help you make 
          informed budgetary decisions based on real-time and historic 
          metrics.
        </div>
    </div>
  </div>
  <div class="test-site-analytics-img-section-one">
    <div class="section-40 float-right">
      <h2 class="futura-oblique">PAINLESS</br>INTEGRATION</h2>
      <div class="line-circle-seperator-container text-left">
        <div class="blue-line inline-block"></div><div class="circle-icon inline-block"></div>
      </div>
      <div class="test-img-section-text">
        You have a system that works and we don't 
        believe you need to re-invent the wheel to take 
        control of your cloud services. IdRamp already 
        has bridges built to the services you rely on. 
        Integrating with them is as easy as flipping
        a switch.
      </div>
    </div>
  </div>
  <div class="test-site-analytics-img-section-two">
    <div class="section-40 float-left">
      <h2 class="futura-oblique">SOLID</br>SECURITY</h2>
      <div class="line-circle-seperator-container text-right">
        <div class="circle-icon inline-block"></div><div class="blue-line inline-block">
        </div>
      </div>
      <div class="test-img-section-text">
        We don’t store your data and neither should the 
        cloud. Integrate with our single sign on (SSO) 
        services without sharing unnecessary information. 
        IdRamp allows you control through intelligent, 
        reusable rules  and permissions. Entitle users or 
        groups from your enterprise directory to specific 
        services in minutes.
      </div>
    </div>
  </div>
  <div class="client-logo-container">
    <h2 class="futura-oblique">EMPOWERING THE FUTURE OF CLOUD STRATEGY</h2>
    <div class="logo-container">
      <ul>
        <li class="microsoft"></li>
        <li class="pwc"></li>
        <li class="webex"></li>
        <li class="kaltura"></li>
        <li class="disney"></li>
        <li class="cisco"></li>
      </ul>
    </div>
  </div>
  <footer>
    <h2 class="futura-oblique">WANT TO LEARN MORE ?</h2>
    <h3>REQUEST A DEMO</h3>
    <div class="input-container">
      <input class="demo-input inline-block" type="email" placeholder="example@idramp.com"/>
      <button class="demo-submit-button">SUBMIT</button>
    </div>
    <div class="bottom-row-container">
      <h5 class="copyright inline-block float-left">Copyright &#169; IdRamp 2016</h5>
      <div class="logo inline-block"></div>
      <h5 class="po-box float-right inline-block">51 Indianola, IA 50125</h5>
      <a href="https://www.linkedin.com/company/identity-ramp" target="_blank" class="linkedin float-right"></a>
      <a href="https://twitter.com/IdentityRamp" target="_blank" class="twitter float-right"></a>
    </div>
  </footer>
</div>